<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta charset="UTF-8">
  <title>Agradecimientos por Puntuar Evento</title>
</head>
<body>
<table role="presentation">
  <tr>
    <td>&nbsp;</td>
    <td>
      <div>

        <!-- Header -->
        <h1>Gracias por puntua nuestro evento!!r</h1>
        <p>Hola, <span th:text="${user}"></span></p>
        <p>Queremos agradecerte por puntuar el evento <span th:text="${eventName}"></span>.</p>

        <p>Tus calificaciones nos ayudaran a seguir mejorando cada vez mas.</p>
        <p>Gracias, <br/> El equipo de CampusSphere</p>

        <!-- Footer -->
        <div>
          <p>Lima, Peru</p>
          <p>
            <a href="http://htmlemail.io">© 2024 CampusSphere</a>.
          </p>
        </div>

      </div>
    </td>
  </tr>
</table>
</body>
</html>