<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta charset="UTF-8">
  <title>Confirmacion de Inscripcion</title>
</head>
<body>
<table role="presentation">
  <tr>
    <td>&nbsp;</td>
    <td>
      <div>

        <!-- Header -->
        <h1>Restablecer Contraseña</h1>
        <p>Hola, <span th:text="${user}"></span></p>
        <p>Hemos recibido una solicitud para restablecer tu contraseña. Haz click en el boton a continuacion para restablecerla:</p>

        <!-- Button -->
        <div>
          <a th:href="${resetUrl}">Restablecer Contraseña</a>
        </div>

        <p>Si no solicitaste este cambio, puedes ignorar este correo.</p>
        <p>Gracias, <br/> El equipo de CampusSphere</p>

        <!-- Footer -->
        <div>
          <p>Lima, Peru</p>
          <p>
            <a href="http://htmlemail.io">© 2024 CampusSphere</a>.
          </p>
        </div>

      </div>
    </td>
  </tr>
</table>
</body>
</html>